<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper red darken-3">
      <a href="#!" class="logo" style="display: inline-block; height: 100%;"><img style="vertical-align: middle" class="responsive-img" src="../assets/images/book.svg" alt="diccionario"></a>
      <ul class="right hide-on-med-and-down">
        <li routerLinkActive="active current" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="">Inicio</a></li> <!--routerLink en lugar de href-->
        <li routerLinkActive="active current"><a routerLink="entrada/_">Buscar entradas</a></li>
        <li routerLinkActive="active current"><a class = "disabled" routerLink="editar/entradas/">Editar entradas</a></li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet> <!--Renderizar componente asociado con la ruta en el outlet-->







