<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper red darken-3">
      <a routerLink="" class="brand-logo"><img src="../assets/images/book.svg" alt="diccionario"></a>
      <a [routerLink]="['']" fragment="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li routerLinkActive="active current" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="">Inicio</a></li> <!--routerLink en lugar de href-->
        <li routerLinkActive="active current"><a routerLink="entrada/_">Buscar entradas</a></li>
        <li routerLinkActive="active current"><a class = "disabled" routerLink="editar/entradas/">Editar entradas</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li class="sidenav-close" routerLinkActive="active current" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="">Inicio</a></li> <!--routerLink en lugar de href-->
  <li class="sidenav-close" routerLinkActive="active current"><a routerLink="entrada/_">Buscar entradas</a></li>
  <li class="sidenav-close" routerLinkActive="active current"><a class = "disabled" routerLink="editar/entradas/">Editar entradas</a></li>
</ul>
<router-outlet></router-outlet> <!--Renderizar componente asociado con la ruta en el outlet-->







