<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo left">Colombianismos</a>
    <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active current" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="">Inicio</a></li> <!--routerLink en lugar de href-->
      <li routerLinkActive="active current"><a routerLink="entrada/_">Buscar entradas</a></li>
      <li routerLinkActive="active current"><a routerLink="editarEntradas">Editar entradas</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet> <!--Renderizar componente asociado con la ruta en el outlet-->







