<div class="grid">
    <div class="grid-sizer"></div>
    <div class="grid-item" *ngFor = "let result of wordService.results">
        
        <h5>{{ result.lema }}</h5>
        <div class="card">
            <div class="card-content">
                <ol style="font-weight: bold;"> 
                    <div *ngFor = "let definicion of result.definiciones">
                        <li><span style="font-weight: normal;">{{ definicion }}</span></li>
                        <div style="display:inline-block;" *ngFor = "let sinonimo of result.sinonimos">
                            <a *ngIf = "sinonimo[1] === definicion" class="col" [routerLink]="['/entrada', sinonimo[0]]">{{ sinonimo[0] }} &nbsp;</a>
                        </div>
                    </div>
                </ol>
            </div>
            
        </div>
    </div>
</div>

<router-outlet></router-outlet>
