a {
    color: #c62828;
}

h5 {
    display: inline;
}

span {
    font-weight: normal;
    padding-right: 5px;
}

ol {
    font-weight: bold;
}

.cursiva {
    font-style: italic;
    
}

.fuente {
    font-size: small;
}

span:empty {
    display: none;
}

.sinonimos, .variantes {
    display:inline-block;
}
