.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 25%;
    width: 50%;
    height: 100vh;
}