input:focus {
    border-bottom: 1px solid #c62828 !important;
    box-shadow: 0 1px 0 0 #c62828 !important;
}
.section-search input.autocomplete {
    color: #000;
}
.input-field .prefix.active {
    color: #000!important;
}

.inv-submit {
    visibility: hidden;
}

input[type='search'] {
    font-family: 'Libre Baskerville', serif;
}

.input-fiel.col.s12, .row {
    margin: 0;

}

.help {
    padding: 0.5em;
    position: fixed;
    top: 10%;
    left: 2.5vw;
    width: 95vw;
    height: 86vh;
    overflow: auto;
    display: block;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}