input:focus {
    border-bottom: 1px solid #c62828 !important;
    box-shadow: 0 1px 0 0 #c62828 !important;
}
.section-search input.autocomplete {
    color: #000;
}
.input-field .prefix.active {
    color: #000!important;
}

.inv-submit {
    display: none
}